<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trip purchase list</title>
    <th:block>
        <link rel="stylesheet" th:href="@{/style.css}">
        <link rel="stylesheet" th:href="@{/header.css}">
    </th:block>
</head>
<body>
<main role="main" class="main">
    <div class="container">
        <div class="row col-md-12 list-container">
            <div class="row col-md-12">
                <h1>Trip purchase list</h1>
            </div>
            <div class="row col-md-12 form-container">
                <form th:action="@{/purchase-list}" method="post"
        </div>
    </div>
</main>
</body>
</html>